:root{
    --strong-cyan:hsl(171, 66%, 44%);
    --light-blue:hsl(233, 100%, 69%);
    --font-size:18px;
    --dark-greyBlue:hsl(210, 10%, 33%);
    --grey-blue: hsl(201, 11%, 66%);
}

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;1,200;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
/* header-styling*/
.header{
    background-image: url('images/bg-header-desktop.png');
    background-size:cover; /* Adjust to "contain" or other values as needed */
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    height: 100vh;
    /* width: 1300px; */
}
.header img{
    width: 100px;
}
.header .header-content{
    width:50%;
}
.header-button .button{
margin-left: 20px;
padding: 9px 30px;
border-radius: 18px;
border: none;
color: white;
margin-bottom: 65px;
margin-top: 20px;
}
.header-button .button:hover{
transform: scale(0.9);
opacity: 0.7;
}
.strong-cyan{
    background-color: var(--strong-cyan);   
}
.light-blue{
    background-color: var(--light-blue);   
}
.header .header-snippets{
    width: 50%px;
}
h1,h2,h3{
    opacity: 0.7;
}
p{
    color: var(--grey-blue);
}
/* Section-2 */
.section-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 100px;

}
.section-2 .section2-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 360px;
    gap: 20px;
    margin-bottom:180px;

}
.section-2 img{
    width: 750px;
    height: 500px;
}
/* section-3 styling */
.section-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 80px;
    text-align: center;
}
.section-3 img{
    width: 750px;
}
/* section 4 styling */
.section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.innersection-4{
    margin-top: 70px;
    margin-bottom: 80px;
    width: 1150px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    gap: 25px;
}
/* section-5 styling */
.section-5{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 75px;
    /* gap: 10px; */
}
.section-5 img{
    width: 8%;
}
.section-5 img:hover{
 transform: scale(0.9);
}
/* section-6 styling */
.section-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 170px;
}
.section-6 .section6-content{
    width: 50%;
}
/* section-7 styling */
.footer{
    display: flex;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-around;
    background-color: rgb(250, 249, 246);
      /* width: 100%; */
}
.footer img{
    width: 90px;
}
.footer .content{
    display: flex;
    /* justify-content: space-around; */
    gap: 50px;
}
.footer .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}






/* media query */
@media all and (max-width:375px)
{
    h1,h3{
        font-size: 22px;
    }
    p{
        font-size: 16px;
    }
    *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    .header{
        /* background-color: blueviolet; */
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: fit-content; */
    background-size: cover;
    padding-left: 30px;
    padding-top: 30px;
    margin: auto;
    
    }
    .header img{
    width: 50px;
}
.header-content{
    width: 90%;
    margin-bottom: 20px;
    /* height: fit-content; */
}
.header h1{
    margin-bottom: 15px;
}
.header-snippets{
    margin:70px  0px;
    width: 90%;
}
.header-button .button{
    margin-bottom: 2px;
}
.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: bottom 0px; 
    margin-top: 80px;
    gap: 70px;
}
.section-2 .section2-item{
    margin-bottom: 0px;
    margin-bottom: 30px;
    
    /* gap: 40px; */
}
.section-2 img{
    width: 80%;
}
/* .section-3{
    margin-top: 2px;
} */
.section-3 img{
    width: 80%;
}
.section-4{
    margin-top: 5px;
}
.innersection-4{
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 125px;
    width: 130px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.section-5 {
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

}
.section-5 img {
width: 110px;
margin-bottom: 70px;


}
.section-6{
    /* margin-left: 100px; */
    text-align: center;
        justify-content: center;
    align-items: center;
    text-align: center;
    
}
.section6-content{
    width: 90%;
    margin-bottom: 25px;
}
.footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 25px;
}
.footer .content {
    flex-direction: column;
gap: 0px;
    /* gap: 11px; */
    /* margin-bottom: 2px; */

}
.footer .footer-item{
    margin-bottom: 29px;
}

}
